body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: hsl(221, 39%, 11%);
    padding-left: 3rem;
    padding-right: 8rem;
    margin-bottom: 6rem;

}

.nav-title {
    display: flex;
    gap: 10px;
    color: whitesmoke;
    justify-content: center;
    flex-shrink: 1;
}

.nav-links {
    display: flex;
    gap: 24px;
    align-items: center;
    list-style: none;

}

.nav-a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.863);

}
.nav-a:hover{
    text-shadow: 0 0 15px #888;
}

.container {
    display: flex;
    justify-content: space-around;
}

.container-img {
    order: 1;
    display: flex;
    box-shadow: 0 0 15px
}

.container-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-bottom: 0;
    font-size: 32px;
    color: #1f2937;
}

.container-para {
    font-size: 22px;
    margin: 1;
    max-width: 700px;
}

.container-logo {
    display: flex;
    justify-content: center;
    gap: 6rem;
    flex-wrap: wrap;
    padding-top: 10rem;
    text-align: center;
    padding-bottom: 4rem;
}

.logo-description {
    max-width: 300px;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    padding: 0;
}

.button0 {
    border: none;
    outline: none;
    height: 40px;
    width: 140px;
    background :#ffd710e5;
    font-size: 15px;
    border-radius: 20px;
    font-weight: bold;
    color: #1a2330;
}
.button0:hover{
    cursor: pointer;
    background:#ffd710e5 ;
    box-shadow:  0 0 5px #ffd710e5 ,
                0 0 20px #ffd710e5 ,
                0 0 60px  #ffd710e5 ,
                0 0 150px   #ffd710e5;
}

.footer {
    background-color: #1f2937;
    color: rgb(239, 234, 227);
    height: 15rem;

}

.footer-info {
    display: flex;
    padding-top: 3rem;
    justify-content: center;
}

.link {
    display: flex;
    gap: 5rem;
    align-items: flex-end;
    padding-top: 7rem;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

h1,.odin-logo{
cursor: pointer;
}
